.photo p{
  padding-bottom: 3.125em;
}
.photo{
  padding-bottom: 6em;
}
.gallery{
  margin: 1.25em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  div{
    overflow: hidden;
    img{
      display: block;
      max-width: 100%;
      object-fit: cover;
      transition: transform 400ms ease-out;
      cursor: pointer;
      &:hover{
        transform: scale(1.15);
      }
    }
  }
}

.modal{
  display: none;
  position: fixed;
  z-index: 10;
  padding-top:10vh;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  animation: boom 0.5s ease-in-out;

}

.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 1000px;
  animation: zoom 0.5s ease-in-out;
  border-radius: 0.5em;
}

.close_btn {
  color: white;
  position: absolute;
  top: 0;
  right: 5vw;
  font-size: 60px;
  font-weight: bold;
}

.close_btn:hover{
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
   from {
     transform:scale(0)
   }
   to {
     transform:scale(1)
   }
 }

@keyframes boom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}