.history .title:after{
  content: '';
  display: block;
  padding-top: 0.3125em;
  margin:0 auto;
  border-bottom: 2px solid $font-color;
  width: 3.125em;
}

.history p{
  margin: 0 auto;
  padding:2em;
  text-align: left;
  max-width: 43.75em;
}

.history img{
  padding: 0 3px;
}

.history h3{
  padding: 1.5em 0 0.3em;
}

.history:last-of-type{
  padding-bottom: 5em;
}

abbr{
  font-weight: 700;
}

@media screen and (max-width: 1320px){
  .historic-nav{
    display: none;
  }
}
