// colors
$white:#FDFDFD;
$green:#586C60;
$green-hover:rgb(62, 82, 70);
$pink:#CB9B9B;
$pink-trans: rgba(203, 155, 155, 0.7);
$font-color:#292929;
$footer-bg:#1D1D1D;
$footer-font-color:#A5A5A5;
$fb:#3b5999;

//diver
$sec:0.3s;