.livre-dor{
  margin-bottom: 5.625em;
}
.comment{
  margin: 1.875em auto;
  text-align: left;
  max-width: 50em;
  padding: 0 2em;
  div{
    display: flex;
    justify-content: space-between;
    h4{
      font-size: 1.5em;
    }
  }
}

.nextPage ul li{
  display: inline-block;
  padding: 0.625em;
  .onPage{
    font-weight: 600;
  }
}

#add-comment {
  padding: 3.125em 0;
  color: $white;
  background-color: $green;
  form {
    text-align: left;
    padding-top: 3.125em;
    input, textarea{
      background-color: $green;
      border-bottom-color: $white;
      &:focus{
        background-color: $white;
        color: $green;
      }
      &::placeholder{
        color: #F0F0F0;
        font-size: 1.1em;
      }
    }
    textarea{
      border: 1px solid $white;
      margin-top: 0.3125em;
    }
    .btn-white{
      padding: 0.625em 1.125em;
      color: $green;
      font-size: 1em;
      background-color: $white;
      border: none;
    }
  }
}
