header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25em;
  //background-color: $white;
}

[type="checkbox"] {
  display: none;
}

.dropdown-menu{
  margin-top: 1.25em;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  left:0;
  width: 100%;
  background: $white;
  text-align: center;
  box-shadow: 0px 3px 3px rgba(102, 102, 102, 0.07);
  a{
    padding: 0.625em 2.5em;;
    display: inline-block;
    transition: $sec;
    border:none;
    position: relative;
    text-transform: uppercase;
    &.active{
      font-weight: 600;
      color: $green
    }
    &:not(.fb):hover{
      color: $green;
      font-weight: 600;
      transition: $sec;
    }
  }
}

#menu:checked ~ .dropdown-menu{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.fb{
  fill: #5D5D5D;
  transition: $sec;
  &:hover{
    fill:$fb;
    transition: $sec;
  }
}
/**********************************************/
.banner{
  background: center no-repeat url("../img/bg.jpg");
  background-size: cover;
  height: 80vh;
  max-height: 1000px;
}

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $pink-trans;
  text-align:center;
  color: $white;
  height: inherit;
  max-height: inherit;
  img{
    max-width:250px ;
    height: auto;
  }
  p{
    padding: 0 1.875em;
  }
  a{
    font-weight: 700;
    padding: 0.625em;
    color: $white;
    border:1px solid $white;
    transition: $sec;
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      transition: $sec;
      z-index: -1;
    }
    &:hover:before{
      width: 100%;
      transition: $sec;
    }
    &:hover{
      color: $pink;
      transition: $sec;
    }

  }
}

@media screen and (min-width: 1180px){
  header{
    flex-direction: column;
  }

  .banner{
    margin:3.125em;
    height: 75vh;
  }

  .banner-content{
    width: 50%;
  }

  .menu-icon{
    display: none;
  }

  .dropdown-menu{
    visibility: visible;
    opacity: 1;
    .active{
      border-top: 2px solid $green;
    }
  }

  .dropdown-menu a:before{
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 24px;
    position: absolute;
    width: 0;
    border-top: 2px solid $green;
    left: 0;
    top: -1px;
  }

  .dropdown-menu a:not(.active):not(.fb):hover:before{
    height: 100%;
    width: 100%;
  }

  .dropdown-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contact{
    display: flex;
    justify-content: space-around;
    padding-top: 3.4375em;
    h2{
      padding: 0 0 0.834em;
    }
  }

  #contact div, form{
    padding: 0 3.125em;
  }
}