.title-contact{
  font-size: 3.75em;
  padding:0.834em 0;
}

form, #contact div{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 3.125em;
  width: 90%;
  max-width: 37.5em;
}

input, textarea{
  border: none;
  border-bottom: 1px solid $font-color;
  padding: 0.4375em 0.625em;
  margin-bottom: 1.875em;
  &:focus{
    outline: none;
    background-color: #F2F2F2;
  }
  &::placeholder{
    font-size: 1.1em;
  }
}

textarea{
  border: 1px solid $font-color;
  margin-top: 0.3125em;
}

.underlineLink{
  border-bottom: 2px solid $pink;
  transition: $sec;
  padding: 0 0.1875em;
  &:hover{
    background-color:lighten($pink, 5%);
    color: $white;
    transition: $sec;
  }
}