html {
  scroll-behavior: smooth;
}

body{
  font-family: $font-text;
  color: $font-color;
  background-color: $white;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 125em;
}

.hidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

a{
  text-decoration: none;
  color: $font-color;
}

h1, h2, h3{
  font-family: $font-title;
}

h1{
  font-size: 3.75em;
  padding: 0.5em 0 1em;
}

.sub-title{
  font-size: 1.3em;
  padding-top: 1.6em;
}

.title{
  font-size: 2em;
  padding:0.75em;
}

h4{
  font-size: 1.25em;
  font-weight: 600;
}

.head{
  text-align: center;
  p{
    padding-bottom: 3.125em;
  }
}

.content{
  text-align: center;
  .kitten img, .cat img, .history img{
    max-width: 95%;
    height: auto;
  }
}

.head_text{
  margin-bottom: 3em;
}

em{
  font-weight: 600;
}

.btn-green{
  font-size: 1em;
  background-color: $green;
  padding: 0.625em 1.125em;
  color: $white;
  transition: $sec;
  border: none;
  &:hover{
    background-color: $green-hover;
    transition: $sec;
  }
}

.kitten h3, .cat h3, .photo h2, .livre-dor h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 30em;
  margin: 0 auto;
  &:after, &:before{
    content: '';
    border-top: 2px solid $font-color;
    margin: 0 30px;
    flex: 1 0 20px;
  }

}

.secondary-nav{
  margin: 0 auto 60px;
  border-bottom: 1px solid rgba(233, 233, 233, .5);
  li{
    display: inline-block;
    padding: 1.5625em;
  }
  a{
    transition: $sec;
    font-size: 14px;
    &:hover {
      color: $green;
      transition: $sec;
    }
  }
}

button{
  font-family: $font-text;
}

#back-to-top{
  display: none;
  position: fixed;
  bottom: 2.0625em;
  right: 1.5625em;
  z-index:3;
  a svg{
    fill:$pink;
    opacity: 0.7;
    transition: $sec;
    &:hover{
      opacity: 1;
      transform:scale(1.2);
      transition: $sec;
    }
  }
}

strong{
  font-weight: 700;
}

@media screen and (min-width: 1180px){
  .sub-title{
    font-size: 1.5em;
  }

  .title{
    font-size: 2.5em;
  }

  h1{
    padding-top: 2em;
  }
}


.cls-1, .cls-2, .cls-6 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke: #cb9b9b;
}

.cls-1, .cls-2 {
  stroke-width: 13px;
}

.cls-2, .cls-6 {
  stroke: #1d1d1b;
}

.cls-6 {
  stroke-width: 3px;
}